---
interface Props {
  title: string;
  description: string;
  badge: string;
  image: string;
}

const { title, description, badge, image } = Astro.props;
---

<div class="card bg-base-300 shadow-xl">
  <figure>
    <img src={image} alt={title} class="w-full h-64 object-cover" />
  </figure>
  <div class="card-body">
    <h3 class="card-title text-primary">{title}</h3>
    <p class="opacity-80">{description}</p>
    <div class="card-actions justify-end">
      <div class="badge badge-outline">{badge}</div>
    </div>
  </div>
</div>
